yangson
alabaster==0.7.7
Babel==2.2.0
colorlog==2.6.1
docutils==0.12
h2==2.2.1
hpack==2.1.1
hyperframe==3.2.0
Jinja2==2.8
MarkupSafe==0.23
py==1.4.31
Pygments==2.1
pytest==2.8.7
pytz==2015.7
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
typing==3.5.0.1
